:root{
    --primary-color: #ffce14;
    --secondary-color: #0f2453;
    --white-color: white;
    --black-color: black;
}

*{
    padding: 0px 0px;
    margin: 0px 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
#body{
    height: 100vh;
    background-image: url('http://localhost/lucy hotel/image/29.jpg');
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}

#body .logo-body{
    padding: 7em 0;
    text-align: center;
    display: block;
    box-sizing: border-box;
    position: relative;
}
#body .logo-body img{
    width: 7%;
}
#body .logo-body h1{
    margin: 0;
    font-size: 2.9em;
    letter-spacing: 15px;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color);
    display: block;
}
#body .logo-body h4{
    font-size: 1.6em;
    letter-spacing: 8px;
    margin: 10px 0 0;
    color: var(--primary-color);
    font-weight: bold;
    text-transform: uppercase;  
}
#body .logo-body p{
    font-size: 1.3em;
    letter-spacing: 5px;
    margin: 1em auto;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
#body .logo-body button{
    border: 2px solid var(--primary-color);
    padding: 0.3em 2.8em;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    background-color: transparent;
    color: var(--primary-color);
    border-radius: 5em;
    font-weight: 550;
}
#body .logo-body button:hover{
    border: 2px solid var(--primary-color);
    padding: 0.3em 2.8em;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 5em;
    font-weight: 550;
}
#body .body-footer{
    text-align: center;
    display: block;
    box-sizing: border-box;
    position: relative;
}
#body .body-footer p{
    font-size: 0.9em;
    letter-spacing: 5px;
    margin: 1em auto;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
/* for reservation */
#reservation{
    margin: 15px 50px;
}
#reservation h3{
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
}
#reservation h3::after{
    bottom: 0;
    left: 0;
    content: '';
    position: absolute;
    width: 80px;
    height: 10px;
    border: 2px solid var(--primary-color);
    border-width: 0 0 3px 0;
    box-sizing: border-box;
}
#reservation .myform{
    border: 2px solid var(--primary-color);
}
#reservation .myform .form-group{
    margin-right: 60px;
    padding: 10px 5px;
}
#reservation .myform .mybutton{
    float: right;
    padding: 10px 50px;
}
#reservation .myform .mybutton .button{
    padding: 5px 25px;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    font-weight: bold;
    background-color: transparent;
}
#reservation .myform .mybutton .button:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
/*------------------------------*/
/*for footers */
#body2{
    height: 100vh;
    position: relative;
}
#information{
    margin: 0px 0px;
    background-color: #040919;
    color: var(--white-color);
    
}
#information .address h3{
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1.1px;
    margin-left: 80px;
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}
#information .address p{
    margin-bottom: 30px;
    margin-left: 70px;
    font-size: 15px;
    letter-spacing: 0.9px;
    line-height: 2em;
    color: var(--link-color);
}
#information .address p a{
    text-decoration: none;
    color: var(--white-color);
}
#information .address p a:hover{
    color: var(--primary-color);
    font-size: 16px;
    font-weight: bold;
}
#information .mylinks h4{
    margin-top: 20px;
    margin-left: 80px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.1px;
    margin-bottom: 10px;
    border-bottom: 2px solid var(--primary-color);
    text-transform: capitalize;
    color: var(--primary-color);
}
#information .mylinks ul li a{
    text-decoration: none;
    color: var(--white-color);
    font-size: 15px;
    letter-spacing: 0.8px;
    line-height: 2em;
    margin-left: 70px;
    display: block;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
    text-transform: capitalize;
}
#information .mylinks ul li a i{
    color: var(--primary-color);
    margin-right: 10px;
}
#information .mylinks ul li a:hover{
    color: var(--primary-color);
    font-size: 16px;
    font-weight: bold;
}
#information .mywebs ul{
    margin-top: 65px;
    margin-left: 60px;
}
#information .mywebs ul li a{
    text-decoration: none;
    font-size: 18px;
    display: block;
    color: var(--white-color);
    letter-spacing: 1.1px;
    line-height: 2em;
    border-bottom: 1px solid var(--primary-color);
}
#information .mywebs ul li a i{
    color: var(--primary-color);
    margin-right: 5px;
}
#information .mywebs ul li a:hover{
    color: var(--primary-color);
    font-size: 20px;
}
.footer{
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    letter-spacing: 0.9px;
    color: var(--white-color);
    background-color: #2f3138;
    text-align: center;
    
}
.footer a{
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
}
.footer a:hover{
    color: var(--primary-color);
    font-size: 17px;
    font-weight: bold;
}
#note{
    padding: 30px 0px;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url("http://localhost/lucy hotel/image/hotel-bg.jpg") center/cover no-repeat;
}
#note .notes{
    text-align: center; 
    font-size: 15px; 
    line-height: 2em; 
    letter-spacing: 0.2em;
    font-weight: bold;
    color: var(--white-color);
    text-transform: capitalize;
}
#note .slogan{
    text-align: center;
    font-size: 15px;
    letter-spacing: 0.3em;
    font-weight: 400;
    font-style: italic;
    bottom: 0;
    color: var(--white-color);
    margin-bottom: 0px;
}

/* for the modals */
#id01 .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  #id01 .imgcontainer h3{
      color: #ffce14;
      text-align: center;
      font-size: 26px;
      margin-bottom: .5em;
      text-transform: uppercase;
      display: inline;
  }
  
  #id01 .imgcontainer .hotel_image{
    
      display: block;
      max-width: 100%;
      height: auto;
      padding: 0px 30px;
  
  }
  #id01 .notecontainer h4{
      color: #000;
      padding: 15px 30px 0 30px;
      font-size: 22px;
      letter-spacing: 1px;
  }
  #id01 .notecontainer p{
      color: #636363;
      font-size: 14.5px;
      letter-spacing: .8px;
      line-height: 32px;
      padding-top: 10px;
      word-spacing: .5px;
      padding: 0px 30px;
  }
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 0px;
      
      background-clip: padding-box;
      border: 1px solid #999;
      border: 1px solid rgba(0, 0, 0, .2);
      border-radius: 6px;
      outline: 0;
      box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 25px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /*---------------------------------------------*/
